body{
    background-color: white;
}


.main-sidebar .nav .nav-item .nav-link {
    border-bottom: 1px solid #2c54e6;
    font-weight: 400;
    color: #ffffff;
    padding: 0.9375rem 1.5625rem;
}



.main-sidebar .nav .nav-item.active, .main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item:hover, .main-sidebar .nav .nav-item .nav-link:hover {
    box-shadow: inset 0.1875rem 0 0 #2c54e6;
    background-color: #FBFBFB;
    color: #2c54e6;
}

.form-control.mr-sm-2.search-line{
    background-color: #f0f8ff00;
    border-bottom: 1px solid white;
    color: #fff;
}
.form-control.mr-sm-2.search-line::placeholder{
    color: #fff;
    text-transform: uppercase;
}